<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% feed_meta %}

  {% if page.layout == 'post' %}
  <meta name="og:type" content="article">
  <meta name="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  {% else %}
  <meta name="og:type" content="website">
  {% endif %}
  <meta name="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <meta name="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  {% if page.thumbnail %}<meta name="og:image" content="{{ site.url }}{% include page_assets %}/thumbnail.png">{% endif %}

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">{% endif %}

  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.png">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
