---
---
@charset "utf-8";


$spacing-unit: 1em;
$ratio: 1.618;

@function modular-scale($n) {
  $r: 1;
  @while $n > 0 {
    $r: $r * $ratio;
    $n: $n - 1;
  }
  @return $r;
}


@import
  "base",
  "grid",
  "layout",
  "syntax-highlighting"
;
